#main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}
.cards{
    padding: 5px;
    width: 500px;
    height: 400px;
    margin: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    box-sizing: content-box; 
    border: 5px solid black;
    justify-content: center;
}
.cards:hover img {
    display: block;
    height: 100%;
    width: 100%;
}
.cards:hover p {
    display: none;
}
.image{
    display: none;
    height: 300px;
    width: 300px;
}