#main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}
.cards{
    padding: 5px;
    width: 500px;
    height: 400px;
    margin: 10px;
    color: lightskyblue;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    box-sizing: content-box; 
    border: 5px solid lightskyblue;
    justify-content: center;
    text-transform: uppercase;
}
.cards:hover img {
    display: block;
    height: 100%;
    width: 100%;
}
.cards:hover p {
    display: none;
}
.image{
    display: none;
    height: 300px;
    width: 300px;
}
body{
    background-image: url('https://www-b.jpl.nasa.gov/spaceimages/images/largesize/PIA17005_hires.jpg');
}
h1{
    text-transform: uppercase;
    color: lightskyblue;
    font-size: 6em;
    text-align: center;
}
.image2{
    height: 500px;
    width: 500px;
}
.text{
    color: white;
}
.large{
    border: 5px solid lightskyblue;
    font-weight: bold;
    font-size: 3em;
    margin: 10px;
    padding: 5px;
}


